@import url(fields/index.css);
form {
  margin-top: 3rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 1.5rem; /* para dar o espaço entre os elementos (<div>) dento do fildset */
}

legend {
  font: 600 1rem/1.25 var(--font-family);
  margin-bottom: 1.5rem;
}

fieldset + fieldset { /* essa linha de código se lê "quando tiver um fieldset anterior a um fielset" */
  margin-top: 3rem;
}